**Theory Questions**

1.  What are data structures, and why are they important?

Ans : Data structure is a way of organising and storing data so that it can be accessed and manipulated effiently. They are important because they provide various ways to store, access, and manipulate data according to specific needs.

2.  Explain the difference between mutable and immutable data types with examples

Ans : Mutable data types means which can be changed like list and immutable data types cannot be changed like tupples.

3.  What are the main differences between lists and tuples in Python?

Ans : The main difference between lists and tuples is that list is mutuable and tuple is immutable.

4. Describe how dictionaries store data.

Ans : Dictionary is a data structure that stores data as key value pair.
Keys are unique and immutable. Dictionaries are unordered, but from Python 3.7 version, dictionaries retain the order of insertion.
This means that if you iterate over a dictionary, the items will be returned in the order they were added.

5. Why might you use a set instead of a list in Python?

Ans : NA

6. What is a string in Python, and how is it different from a list?

Ans : String is a sequence of character. It represent and manipulate textual data.Characters are represented using numerical valueSs. Each character is assigned a unique no. Strings are immutable and list is mutable.

7.  How do tuples ensure data integrity in Python?

Ans: Tuples help ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans : A hash table is a data structure that stores key-value pairs and uses a hash function to quickly locate a value based on its key. It is related to dictionaries because it uses key value pair.

9. Can lists contain different data types in Python?

Ans : Yes

10. Explain why strings are immutable in Python?

Ans : Strings are immutable in Python because once a string is created, its contents cannot be changed.

**Practical Questions**

1. Write a code to create a string with your name and print it.

In [3]:
name = 'Kavya'
print ('My name is',name)

My name is Kavya

2. Write a code to find the length of the string "Hello World"

In [4]:
length = 'hello world'
len(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [7]:
a = 'python programming'
letter = a [:3]
print (letter)

pyt

4.Write a code to convert the string "hello" to uppercase

In [8]:
a = 'hello'
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
a = 'i like apple'
a.replace('apple','orange')

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [2]:
num = [1,2,3,4,5]
print (num)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [3]:
lis = [1,2,3,4]
lis.append(10)
print (lis)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [5]:
n = [1,2,3,4,5]
n.remove(3)
print (n)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [7]:
c = ['a','b','c','d']
c[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [15]:
c = [10,20,30,40,50]
c.reverse()

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [16]:
 c = (100,200,300)
 print (c)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [18]:
color = ('red','green','blue','yellow')
color[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [19]:
numbers = (10,20,5,15)
min(numbers)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [20]:
animals = ('dog','cat','rabbit')
animals.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [23]:
fruits = ('apple','kiwi','orange')
if 'kiwi' in fruits :
 print ('kiwi is in the tupple')
 else:
 print ('kiwi is not in the tupple')

SyntaxError: invalid syntax (ipython-input-23-903042344.py, line 4)